footer {
  height: 20vh;
}

footer div:nth-child(1) {
  background: rgb(224, 224, 224);
  height: 12vh;
  box-shadow: 0rem -1rem 3rem rgb(162, 162, 162);
}

footer div:nth-child(1) section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div:nth-child(1) section a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

footer div:nth-child(1) section a i {
  font-size: 2.5rem;
}

footer div:nth-child(2) {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    height: 8vh;
}

footer div:nth-child(2) a {
    text-underline-offset: 0.5rem;
}
